# Cloudinary Configuration Example
# Copy these keys into your .env file
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name_here
VITE_CLOUDINARY_FOLDER=wedding-frames
VITE_CLOUDINARY_TRANSFORMATIONS=f_auto,q_auto
CLOUDINARY_API_KEY=675743444219528
CLOUDINARY_API_SECRET=ir9NsSJk8hH6EKJzPMX_gOqhbBk
